/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import "katex/dist/katex.min.css";

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4A90E2;
  --ifm-color-primary-dark: #357ABD;
  --ifm-color-primary-darker: #2D5FA0;
  --ifm-color-primary-darkest: #1E3A5F;
  --ifm-color-primary-light: #6FA9F5;
  --ifm-color-primary-lighter: #A2C4FA;
  --ifm-color-primary-lightest: #D3E5FF;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9CA3AF;   /* Gray-400          */
  --ifm-color-primary-dark: #6B7280; /* Gray-500        */
  --ifm-color-primary-darker: #4B5563; /* Gray-600       */
  --ifm-color-primary-darkest: #374151; /* Gray-700      */
  --ifm-color-primary-light: #D1D5DB; /* Gray-300       */
  --ifm-color-primary-lighter: #E5E7EB; /* Gray-200      */
  --ifm-color-primary-lightest: #F3F4F6; /* Gray-100     */
  --docusaurus-highlighted-code-line-bg: rgba(255,255,255,0.05);
}


